:root {
    /* Solarized Dark */
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
}

body {
    padding-top: 50px;
    background-color: var(--base03);
    color: var(--base3);
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid var(--base02);
}

.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card {
    background-color: var(--base02);
}

.list-group-item {
    background-color: var(--base02);
}
